<!DOCTYPE html>

<html lang="en" ng-app="myApp" class="no-js" ng-strict-di> <!--<![endif]-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="vendor/styles/open-iconic-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/styles/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/styles/app.css">
    <title>How to invest in Cryptocurrency</title>
</head>
<body ng-controller='main'>
    <div class="wallpaper"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-11" style="float:right">
                    <div class="card" style="float:right;width:100%;">
                        <h4 class="card-header text-center display-4"> How To Invest Into Cryptocurrency
                            <!-- <br/><span class="card-title">{{vc.current.title}} ({{vc.current.duration | period}})</span> -->
                        </h4>
                        
                        <div class="card-img-top" id="videoWindow" alt="Card image cap"> 
                            <nimbus-youtube-player target="myPlayer" width="100%" height="500px;">
                                <nimbus-playlist>
                                    <entry mbody="body1" id="hEJnMQG9ev8" title="Mad Max" description="Mad Max: Fury Road is a 2015 action film directed and
                                    produced by George Miller. It is set in a future desert wasteland where gasoline
                                    and water are scarce commodities."></entry>
                                    <entry mbody="body2" id="sGbxmsDFVnE" title="Star Wars: The Force awakens" description="Approximately 30 years after the second
                                    Death Star was destroyed, Luke Skywalker, the last Jedi, has disappeared. The First Order has risen from the
                                    fallen Galactic Empire and seeks to eliminate Luke and the New Republic. The Resistance, backed by the New
                                    Republic and led by Luke's twin sister, Leia Organa, opposes them while searching for Luke to enlist his aid."></entry>
                                    <entry mbody="body3" id="zSWdZVtXT7E" title="Interstellar" description="A widespread catastrophic crop blight on Earth has made
                                    farming increasingly difficult and threatens the existence of humanity. Joe Cooper, a widowed former NASA pilot,
                                    runs a farm with his father-in-law, son, and daughter Murphy, who believes her bedroom is haunted by a poltergeist.
                                    When the 'ghost' creates a pattern of dust on the floor, Cooper realizes an unknown intelligence is using
                                    gravity to communicate, and interprets the pattern as geographic coordinates, which Cooper and Murphy follow to a secret NASA facility."></entry>
                                    <entry mbody="body4" id="S3AVcCggRnU" title="Ted 2" description="Newlywed couple Ted and Tami-Lynn want to have a baby, but in
                                    order to qualify to be a parent, Ted will have to prove he's a person in a court of law."></entry>
                                </nimbus-playlist>
                                <div id="myPlayer"></div>
                                <button class="btn btn-lg btn-dark m10px" 
                                    ng-class="{'disabled' : activeVideo == 0}" ng-click="playVideo('prev')">
                                    <span class="oi oi-media-step-backward"></span>
                                    <div class="media-button-left">prev</div>
                                </button>
                                <button class="btn btn-lg btn-dark fright m10px" 
                                 ng-class="{'disabled' : activeVideo == 3}"
                                ng-click="playVideo('next')">
                                    <div class="media-button-right">next</div>
                                    <span class="oi oi-media-step-forward"></span></button>                                                                                
                            </nimbus-youtube-player>
                        </div>
                        <div class="card-body">
                            <div ng-if="vc.current.mbody == 'body1'">
                                <body1></body1>
                            </div>
                            <div ng-if="vc.current.mbody == 'body2'">
                                <body2></body2>
                            </div>
                            <div ng-if="vc.current.mbody == 'body3'">
                                <body3></body3>
                            </div>
                            <div ng-if="vc.current.mbody == 'body4'">
                                <body4></body4>
                            </div>
                            <ul>
                                <div ng-repeat="clip in vc.getTitleAndDescriptions()">
                                    <li>
                                        <a ng-click="vc.playVideo($index)">
                                            <span ng-class="{bold:clip.title == vc.current.title}" title="{{clip.description}}">{{clip.title}}</span>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                            
                            <p class="text-small">{{vc.current.description}}</p>
                            
                        </div>
                    </div>                
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10">
                    <div class="playlist">    
                        <h4 class="display-4 playlist-title">Playlist :</h4>
                        <div class="list-group" ng-init="activeVideo=0;">
                            <span ng-click="playlistClick(0)" ng-class="{'active':activeVideo == 0}" class="playlist-link list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">What is Cryptocurrency?</h5>
                                    <small>2:01m</small>
                                </div>
                                <p class="mb-1">A quick explanation about Cryptocurrency and bitcoin.</p>
                                <small>#1</small>
                            </span>
                            <span ng-click="playlistClick(1)" ng-class="{'active':activeVideo == 1}" class="playlist-link list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Investment options</h5>
                                    <small class="text-muted">1:55m</small>
                                </div>
                                <p class="mb-1">How to profit from Bitcoin? Where to get it?</p>
                                <small class="text-muted">#2</small>
                            </span>
                            <span ng-click="playlistClick(2)" ng-class="{'active':activeVideo == 2}" class="playlist-link list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">What is Bitconnect ?</h5>
                                    <small class="text-muted">1:00m</small>
                                </div>
                                <p class="mb-1">Bitconnect Platform - Quick walkthru</p>
                                <small class="text-muted">#3</small>
                            </span>
                            <span ng-click="playlistClick(3);" ng-class="{'active':activeVideo == 3}" class="playlist-link list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">How to Invest with Bitconnect ?</h5>
                                    <small class="text-muted">4:00m</small>
                                </div>
                                <p class="mb-1">Pick your Bitconnect strategy investment</p>
                                <small class="text-muted">#4</small>
                            </span>
                        </div>
                    </div>
                
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10">
                    <h4 class="display-4 playlist-title">Investment Tools:</h4>
                    <div class="card" style="margin-top:20px;">
                        <a href="http://bitconnect.bitcoinfutureinvestments.com" target="_blank">
                        <img class="card-img-top" src="vendor/images/bc.png" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">Bitconnect Strategy Calendar</h4>
                            <p class="card-text">Use this strategy tool to plan your investment with Bitconnect!</p>
                            <a href="http://bitconnect.bitcoinfutureinvestments.com" target="_blank" class="btn btn-success btn-lg">Take me there !</a>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <script src="vendor/js/angular.min.js"></script>
    <script src="vendor/js/nimbusYoutubeLibrary-0.0.7.js"></script>
    <script src="vendor/js/jquery-3.2.1.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
